/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	font-family: 'Lato', sans-serif;
}
.first-section{
	display: flex;
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.navbar{
    background-color:transparent !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;  
 }
 .first-section h1{
	color: whitesmoke;
 }
 .first-section p{
	color: whitesmoke;
 }
 #parrafo{

 }
 .navbar-btn{
 	background-color: #054402;
 	color: whitesmoke;
 }
 .navbar-inverse .navbar-nav>li>a{
 	color: whitesmoke;
 	font-size: 1.5em;
 }
 .fourth-section{
 	background-image: url(../img/all.jpg);
 	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
 }


 
